@import url('https://fonts.googleapis.com/css?family=Baloo|Caveat|Kaushan+Script|McLaren|Satisfy&display=swap');

$image : 'https://i.imgur.com/uow5IDn.jpg';
$image2 : 'https://i.imgur.com/718Un17.jpg';
$image3 : 'https://i.imgur.com/49FLj94.jpg';
$image4 : 'https://i.imgur.com/p9jtves.jpg';

#root{
	height: 100vh;
}

body{
	height: 100%;
	justify-content: center;
	align-content: center;
	margin: 0;
	padding: 0;	
	font-family: 'Baloo', cursive;
	overflow: hidden;
}

.haha{
	height: 100%;

	>button{
		color: white;
		background: transparent;
		font-size: 3em;
		font-family: 'Baloo', cursive;
		display: flex;
		position: fixed;
		padding: 0.2em 1.4em;
		margin: 0 auto;	
		border: none;
		outline: none;
		left: 45%;
		bottom: 0;
		cursor: pointer;
	}

	.contact{
		position: absolute;
		z-index: 100;
		height: 50%;
		width: 50%;
		top: 25%;
		left: 25%;
		background: white;
		opacity: 1;
		border-radius: 40px;
		box-shadow:0 0 0 1600px rgba(0,0,0,0.6);
		transition: opacity 1s;		

		&.hidden{
			visibility: hidden;
			opacity: 0;
		}

		>i{
			position: absolute;
			cursor: pointer;
			right: 4%;
			top: 4%;
			opacity: 0.7;
			font-size: 1.5em;
		}

		>div{

			position: relative;
			left: 25%;
			top: 25%;
			margin: 20px;
			cursor: pointer;

			>i{
				font-size: 2.5em;
			}

			>a{
				font-size: 1.7em;
				text-decoration: none;
				color: black;
				padding: 15px;
			}

			&:hover{
				opacity: 0.4;
			}
		}
	}
}

.scrollBar{
	position: fixed;
	color: white;
	top:50%;
	right: 2%;
	list-style-type: none;
	padding: 0;
	opacity: 0.7;
}

.Container{
	height: 100%;
  display: flex;
	background-size: cover;
	background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url($image);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	transition: 1.5s ease;

	.a{
		margin-top: 10%;	
	  height: 70%;
	  width: 90%;

		.Heading{
			display: flex;
			position: relative;
			font-size: 3em;
			width: 90%;
			left: 10%;
			margin: 1em 0;
			color: white;
		}

		.Content{
			display: flex;
			position: relative;
			font-size: 2em;	
			left: 10%;
			width: 80%;
			color: white;
		}
	}
}

.Container2{
	height: 100%;
  display: flex;
	position: relative;
	background-size: cover;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url($image2);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	.Content{
		position: relative;
		display: flex;
		font-size: 2em;
		color: white;
		top: 30%;
		left : 10%;
		letter-spacing: 0.05em;
		height: 300px;
	}
}

.title{
	position: absolute;
	color: white;
	font-size: 2.5em;
	margin: 7%;
}

.navBar{
	position: fixed;
	top: 0px;
	color: white;
	width:100%;
	font-family: 'Baloo', cursive;

	>ul{
		list-style-type: none;
		font-size: 1.5em;
		float:right;
		margin: 20px;

		>li{
			display: inline;
			margin: 0 30px;
			cursor: pointer;
		}
	}
}

@media only screen and (max-width: 450px){

	#root{
		width: 100vw;
		height: 100vh;	
	}

	body{
		width:100%;
		height:100%;
	}

	.Container{
		width: 100%;
		.a{
			margin-top: 35%;

			.Heading{
				font-size:1.5em;
				margin-bottom: 15%;
			
			}

			.Content{
				font-size: 1.6em;
				margin-top:2.5%;
			}
		}
	}

	.Container2{
		.Content{
			width: 80%;
			margin: auto 0;
			font-size: 1.6em;
			top: 25%;
		}
		.title{
			font-size: 1.9em;
		}
	}

	.haha{
		>button{
			left:35%;
			padding-bottom: 0;
		}

		.navBar{
			>ul{
				>li{
					margin: 0;
				}
			}
		}

		.contact{
			left: 15%;
			width: 70%;
			height: 60%;
			border-radius: 5%;

			>div{
				width: 70%;
				left: 10%;

				>a{
					font-size: 1.1em;
				}

				>i{
					font-size: 1.8em;
				}
			}
		}

	}

	.scrollBar{
		visibility: hidden;
	}

}