@import url('https://fonts.googleapis.com/css?family=Baloo|Caveat|Kaushan+Script|McLaren|Satisfy&display=swap');

$image : 'https://i.imgur.com/uow5IDn.jpg';
$image2 : 'https://i.imgur.com/718Un17.jpg';
$image3 : 'https://i.imgur.com/49FLj94.jpg';
$image4 : 'https://i.imgur.com/p9jtves.jpg';


#root{
	height: 100vh;
}

body{
	height: 100%;
	justify-content: center;
	align-content: center;
	margin: 0;
	padding: 0;	
	font-family: 'Baloo', cursive;
	overflow: hidden;
}

.haha{
	height: 100%;

	>button{
		color: white;
		background: transparent;
		font-size: 3em;
		font-family: 'Baloo', cursive;
		display: flex;
		position: fixed;
		padding: 0.2em 1.4em;
		margin: 0 auto;	
		border: none;
		outline: none;
		left: 45%;
		bottom: 0;
		cursor: pointer;
	}
}

.scrollBar{
	position: fixed;
	color: white;
	top:50%;
	right: 2%;
	list-style-type: none;
	margin: auto 0;
	padding: 0;
	opacity: 0.7;
}

.Container{
	height: 100%;
  display: flex;
	background-size: cover;
	background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url($image);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	transition: 1.5s ease;

	.Login{
		margin-top: 10%;	
	  height: 70%;
	  width: 100%;

		.Heading{
			display: flex;
			position: absolute;
			font-size: 4em;
			width: 35%;
			justify-content: center;
			letter-spacing: 0.5em;
			margin: 1em 0 2.45em 0;
			color: white;
		}

		.Content{
			display: flex;
			position: relative;
			font-size: 2em;
			top: 40%;	
			left: 10%;
			width: 80%;
			color: white;;

		}
	}
}

.Container2{
	height: 100%;
  display: flex;
	background-size: cover;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url($image2);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	.Content{
		position: relative;
		display: flex;
		font-size: 2em;
		color: white;
		top: 30%;
		left : 10%;
		letter-spacing: 0.05em;
		height: 300px;
	}
}

.Container3{
	height: 100%;
	display: flex;
	background-size: cover;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url($image3);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.Container4{
	height: 100%;
  display: flex;
	background-size: cover;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url($image4);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.title{
	position: absolute;
	color: white;
	font-size: 2.5em;
	margin: 7%;
}

.navBar{
	position: fixed;
	top: 0px;
	color: white;
	width:100%;
	font-family: 'Baloo', cursive;

	>ul{
		list-style-type: none;
		font-size: 1.5em;
		float:right;
		margin: 20px;

		>li{
			display: inline;
			margin: 0 30px;
			cursor: pointer;
		}
	}
}

